{% extends 'layout.html' %}
{% block content %}
<div class="content-section">
    <form method="POST" action="">
        {{ r_form.hidden_tag() }}
        <fieldset class='form-group'>
            <legend class="border-bottom mb-4">Join Today</legend>
            <dir class='form-group'>
                {{ r_form.username.label(class="form-control-label") }}
                {% if r_form.username.errors %}
                    {{ r_form.username(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in  r_form.username.errors %}
                                <span>{{ error }}
                            {% endfor %}
                        </div>
                {% else %}
                    {{ r_form.username(class="form-control form-control-lg") }}
                {% endif %}
            </dir>

            <dir class='form-group'>
                {{ r_form.email.label(class="form-control-label") }}
                {% if r_form.email.errors %}
                    {{ r_form.email(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in  r_form.email.errors %}
                                <span>{{ error }}
                            {% endfor %}
                        </div>
                {% else %}
                    {{ r_form.email(class="form-control form-control-lg") }}
                {% endif %}
            </dir>

            <dir class='form-group'>
                {{ r_form.password.label(class="form-control-label") }}
                {% if r_form.password.errors %}
                    {{ r_form.password(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in  r_form.password.errors %}
                                <span>{{ error }}
                            {% endfor %}
                        </div>
                {% else %}
                    {{ r_form.password(class="form-control form-control-lg") }}
                {% endif %}
            </dir>

            <dir class='r_form-group'>
                {{ r_form.confirm_password.label(class="form-control-label") }}
                {% if r_form.confirm_password.errors %}
                    {{ r_form.confirm_password(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in  r_form.confirm_password.errors %}
                                <span>{{ error }}
                            {% endfor %}
                        </div>
                {% else %}
                    {{ r_form.confirm_password(class="form-control form-control-lg") }}
                {% endif %}
            </dir>

            </div>
            </fieldset>
        <div class='form-group'>
            {{ r_form.r_submit(class="btn btn-outline-info") }}
        </div>
        </form>
    </div>
        <div class="border-top pt-3">
            <small class="text-muted">
                Already have an account? <a class="ml-2" href="{{ url_for('login') }}">Sign In</a>
            </small>
        </div>


{% endblock content %}